<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    {% load static %}
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" href="img/favicon.png" type="image/png">
	<title>Taxa Adventure</title>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="{% static  "trek/css/bootstrap.css" %}">
	<link rel="stylesheet" href="{% static "trek/vendors/linericon/style.css" %}">
	<link rel="stylesheet" href="{% static "trek/css/font-awesome.min.css" %}">
	<link rel="stylesheet" href="{% static "trek/css/magnific-popup.css" %}">
	<link rel="stylesheet" href="{% static  "trek/vendors/owl-carousel/owl.carousel.min.css" %}">
	<link rel="stylesheet" href="{% static "trek/vendors/nice-select/css/nice-select.css" %}">
	<!-- main css -->
	<link rel="stylesheet" href="{% static "trek/css/style.css" %}">
</head>

<body>

    <!--================ Start Header Menu Area =================-->
	<header class="header_area">
		<div class="main_menu">
			<nav class="navbar navbar-expand-lg navbar-light">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<a class="navbar-brand logo_h" href="index.html"><img src="{% static "trek/img/a1111.png" %}" alt=""></a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
					 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
						<ul class="nav navbar-nav menu_nav ml-auto">
							<li class="nav-item active"><a class="nav-link" href="{% url 'trek:home' %}">Home</a></li>
							<li class="nav-item"><a class="nav-link" href="{% url 'trek:packk' %}">Packages</a></li>

							<li class="nav-item"><a class="nav-link" href="{% url 'trek:packk' %}">Pilgrimage</a></li>
								<ul class="dropdown-menu">

									<li class="nav-item"><a class="nav-link" href="{% url 'trek:book' %}">Book trip</a></li>

								</ul>

							<li class="nav-item submenu dropdown">
								<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
								 aria-expanded="false">Blog</a>
								<ul class="dropdown-menu">

								</ul>
							</li>
							<li class="nav-item"><a class="nav-link" href="{% url 'trek:book' %}">book</a></li>

                            <li class="nav-item"><a class="nav-link" href="http://127.0.0.1:8000/admin">ADMIN</a></li>

						</ul>
						<ul class="nav navbar-nav ml-auto">
							<li class="nav-item">
								<a href="{% url 'trek:book' %}" class="primary-btn">Book a trip (Rs 2000/-)</a>
							</li>
                            <li class="nav-item">
								<a href="https://www.photo-pick.com/online/y6k9.link" class="primary-btn">gallery</a>
							</li>

						</ul>
					</div>
				</div>
			</nav>


		</div>
	</header>

	<!--================ End Header Menu Area =================-->

	<!--================Home Banner Area =================-->
	<section class="banner_area ">
		<div class="banner_inner overlay d-flex align-items-center">
			<div class="container">
				<div class="banner_content">
					<div class="page_link">
						<a href="index.html">Home</a>
						<a href="blog.html">Blog</a>
						<a href="single-blog.html">DEVKYARA</a>
					</div>
					<h2>DEVKYARA</h2>
				</div>
			</div>
		</div>
	</section>
	<!--================End Home Banner Area =================-->

    <!--================Blog Area =================-->
    <section class="blog_area single-post-area section_gap">
        <div class="container">
            <a class="btn-block" href="{% url "trek:book" %}"></a>
            <div class="row">
                <div class="col-lg-8 posts-list">
                    <div class="single-post row">
                        <div class="col-lg-12">
                            <div class="feature-img">
                                <img class="img-fluid" src="{%  static "trek/img/blog/cc1.png" %}" alt="">
                            </div>
                        </div>

                        <div class="col-lg-9 col-md-9 blog_details">
                            <h2>DEV KYARA</h2>
                            <p class="excert">
                               Titled as the “TREK OF YEAR 2019”, Devkyara trek is a magnificent trekking expedition nestled between the most beautiful Rupin and Supin valleys of the Western Himalayas. Comparatively easier than the treks like Roopkund and Har-ki-doon, this trek finds itself in the bucket list of the true wayfarers. Right through the forests of pine and oak, the Devkyara valley opens to the enthralling scenes of the flower laden meadows and the pristine sightings of the majestic Rangnala, Banderpoonch, Kedarkantha and Swargarohini  peaks.
JAKHOL, the first base camp of the trek, is one amongst the last chain of villages within the Indo-China border. Fabulous arrangements have been made in the homestays, where the trekkers and the visitors are provided an atmosphere to dwell within the lifestyle of the local realm and enjoy the rich culture of the Himalayas.
The best time to chase this expedition is from mid May to June and post monsoon from September to November.
                            </p>


                        </div>
                        <div class="col-lg-12">
                            <div class="quotes">
                                THE BEAUTY OF DEVKYARA AS WELL AS THE PATH THAT LEADS TO THIS MESMERISING PLACE WILL DEFINITELY AMAZE YOU
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <img class="img-fluid" src="{% static "trek/img/blog/aa1.png" %}" alt="">
                                </div>
                                <div class="col-6">
                                    <img class="img-fluid" src="{%  static  "trek/img/blog/b11.png" %}" alt="">
                                </div>
                                <div class="col-lg-12 mt-25">
                                    <p>
                                        SHORT ITINERARY of DEVKYARA TREK
                                    </p>


                                            <p>
                                                <B>DAY 1-Jakhol to Boincha (3.5 hrs by Cliffcat transport). Boincha (6765 ft) to Obra (7644 ft) - 3.7 km, 4 hrs Trek</B>
                                    </p>
                                           <p>
                                               <B>DAY 2- Obra (7644 ft) to Bhaawa Waterfall (11,240 ft) - 8.15  km, (8 hrs trek)</B>

                                    </p>
                                     <p>
                                         <b> DAY 3-Bhaawa Waterfall (11,240 ft) to Dev Kyara (13,451 ft) - 5 km, (6 hrs trek)</b>
                                    </p>
                                     <p>
                                         <B> DAY 4-Expert brief , exploring DEVKYARA and back trek to Bhaawa Waterfall Campsite (11,240 ft) - 5 km, (5 hrs Trek).</B>
                                    </p>
                                     <p>
                                         <B> DAY 5-Bhaawa Waterfall Campsite to Boincha  - 12 km, 6 hrs Trek. Boincha to Jakhol – (3 hrs by Cliffcat transport)</B>
                                    </p>
                                     <p>
                                         <B>DAY 6-Departure from Jakhol and arrive DEHRADUN,</B>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="navigation-area">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">

                                <div class="arrow">
                                    <a href="#"><span class="lnr text-white lnr-arrow-left"></span></a>
                                </div>

                            </div>
                            <div class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">

                                </div>
                                <div class="arrow">
                                    <a href="#"><span class="lnr text-white lnr-arrow-right"></span></a>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="comments-area">
                        <h4>REVIEWS</h4>
                        <div class="comment-list">
                            <div class="single-comment justify-content-between d-flex">
                                <div class="user justify-content-between d-flex">

                                    <div class="desc">
                                        <h5><a href="#">Ram Vilas</a></h5>
                                        <p class="date">December 4, 2017 at 3:12 pm </p>
                                        <p class="comment">
                                            heaven on Earth
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="comment-list left-padding">
                            <div class="single-comment justify-content-between d-flex">
                                <div class="user justify-content-between d-flex">

                                    <div class="desc">
                                        <h5><a href="#">Vaibhav bisht</a></h5>
                                        <p class="date">December 4, 2017 at 3:12 pm </p>
                                        <p class="comment">
                                            Nice place and good service.
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="comment-list left-padding">
                            <div class="single-comment justify-content-between d-flex">
                                <div class="user justify-content-between d-flex">

                                    <div class="desc">
                                        <h5><a href="#">pramod Bijlwan</a></h5>
                                        <p class="date">December 4, 2017 at 3:12 pm </p>
                                        <p class="comment">
                                            Value For money.
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="comment-list">
                            <div class="single-comment justify-content-between d-flex">
                                <div class="user justify-content-between d-flex">

                                    <div class="desc">
                                        <h5><a href="#">anonymous</a></h5>
                                        <p class="date">December 4, 2017 at 3:12 pm </p>
                                        <p class="comment">
                                            Enjoyed very much
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="comment-list">
                            <div class="single-comment justify-content-between d-flex">
                                <div class="user justify-content-between d-flex">

                                    <div class="desc">
                                        <h5><a href="#">jay adi</a></h5>
                                        <p class="date">December 4, 2017 at 3:12 pm </p>
                                        <p class="comment">
                                            Switzerland of india
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4">
                    <div class="blog_right_sidebar">

                        <aside class="single_sidebar_widget author_widget">
                            <img class="author_img rounded-circle" src="{% static "trek/img/blog/asas.png" %}" alt="">
                            <h4>Puneet Aggarwal</h4>
                            <p>Student</p>
                            <div class="social_icon">

                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                            <p>Liked everything in uttarakhand and the services provided were world class</p>
                            <div class="br"></div>
                        </aside>


                    </div>
                </div>
            </div>


    </section>
    <!--================Blog Area =================-->


    <!--================  start footer Area =================-->
    <footer class="footer-area">
        <div class="footer_top section_gap_top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h5 class="footer_title">About Lawful</h5>
                            <p class="about-text">The world has become so fast paced that people don’t want to stand by
                                reading a page of information, they would much rather look at a presentation and
                                understand the message. It has come to a point where images and videos are used more to
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h5 class="footer_title">Navigation Links</h5>
                            <div class="row">
                                <div class="col-5">
                                    <ul class="list">
                                        <li><a href="#">Home</a></li>
                                        <li><a href="#">Features</a></li>
                                        <li><a href="#">Services</a></li>
                                        <li><a href="#">Portfolio</a></li>
                                    </ul>
                                </div>
                                <div class="col-5">
                                    <ul class="list">
                                        <li><a href="#">Team</a></li>
                                        <li><a href="#">Pricing</a></li>
                                        <li><a href="#">Blog</a></li>
                                        <li><a href="#">contact</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3  col-md-6 col-sm-6">
						<div class="single-footer-widget mail-chimp">
							<h5 class="mb-20">Instragram Feed</h5>
							<ul class="instafeed d-flex flex-wrap">
								<li><img src="{% static "trek/img/i1.jpg" %}" alt=""></li>
								<li><img src="{% static "trek/img/i2.jpg" %}"  alt=""></li>
								<li><img src="{% static "trek/img/i3.jpg" %}"  alt=""></li>
								<li><img src="{% static "trek/img/i4.jpg" %}"  alt=""></li>
								<li><img src="{% static "trek/img/i5.jpg" %}"  alt=""></li>
								<li><img src="{% static "trek/img/i6.jpg" %}"  alt=""></li>
								<li><img src="{% static "trek/img/i7.jpg" %}"  alt=""></li>
								<li><img src="{% static "trek/img/i8.jpg" %}"  alt=""></li>
							</ul>
						</div>
					</div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
</p>
                    </div>
                    <div class="col-lg-6 col-md-12 text-right">
                        <div class="social-icons">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                            <a href="#"><i class="fa fa-behance"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--================ End footer Area =================-->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
 <script src="{% static "trek/js/jquery-3.2.1.min.js" %}"></script>
	<script src="{%  static  "trek/js/popper.js" %}"></script>
	<script src="{%static   "trek/js/bootstrap.min.js" %}"></script>
	<script src="{% static  "trek/js/stellar.js" %}"></script>
	<script src="{% static "trek/js/jquery.magnific-popup.min.js" %}"></script>
	<script src="{% static "trek/vendors/nice-select/js/jquery.nice-select.min.js" %}"></script>
	<script src="{% static "trek/vendors/owl-carousel/owl.carousel.min.js" %}"></script>
	<script src="{% static "trek/js/owl-carousel-thumb.min.js" %}"></script>
	<script src="{% static "trek/js/jquery.ajaxchimp.min.js" %}"></script>
	<script src="{% static "trek/js/mail-script.js" %}"></script>
	<!--gmaps Js-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
	<script src="{% static "trek/js/gmaps.min.js" %}"></script>
	<script src="{%  static "trek/js/theme.js" %}"></script>
</body>

</html>