<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    {% load static %}
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" href="img/favicon.png" type="image/png">
	<title>Taxa Adventure</title>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="{% static  "trek/css/bootstrap.css" %}">
	<link rel="stylesheet" href="{% static "trek/vendors/linericon/style.css" %}">
	<link rel="stylesheet" href="{% static "trek/css/font-awesome.min.css" %}">
	<link rel="stylesheet" href="{% static "trek/css/magnific-popup.css" %}">
	<link rel="stylesheet" href="{% static  "trek/vendors/owl-carousel/owl.carousel.min.css" %}">
	<link rel="stylesheet" href="{% static "trek/vendors/nice-select/css/nice-select.css" %}">
	<!-- main css -->
	<link rel="stylesheet" href="{% static "trek/css/style.css" %}">
</head>

<body>

    <!--================ Start Header Menu Area =================-->
	<header class="header_area">
		<div class="main_menu">
			<nav class="navbar navbar-expand-lg navbar-light">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<a class="navbar-brand logo_h" href="index.html"><img src="{% static "trek/img/a1111.png" %}" alt=""></a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
					 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
						<ul class="nav navbar-nav menu_nav ml-auto">
							<li class="nav-item active"><a class="nav-link" href="{% url 'trek:home' %}">Home</a></li>
							<li class="nav-item"><a class="nav-link" href="{% url 'trek:packk' %}">Packages</a></li>

							<li class="nav-item"><a class="nav-link" href="{% url 'trek:packk' %}">Pilgrimage</a></li>
								<ul class="dropdown-menu">

									<li class="nav-item"><a class="nav-link" href="{% url 'trek:book' %}">Book trip</a></li>

								</ul>

							<li class="nav-item submenu dropdown">
								<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
								 aria-expanded="false">Blog</a>
								<ul class="dropdown-menu">

								</ul>
							</li>
							<li class="nav-item"><a class="nav-link" href="{% url 'trek:book' %}">book</a></li>

                            <li class="nav-item"><a class="nav-link" href="http://127.0.0.1:8000/admin">ADMIN</a></li>

						</ul>
						<ul class="nav navbar-nav ml-auto">
							<li class="nav-item">
								<a href="{% url 'trek:book' %}" class="primary-btn">Book a trip (Rs 2000/-)</a>
							</li>
                            <li class="nav-item">
								<a href="https://www.photo-pick.com/online/lQ6a.link" class="primary-btn">gallery</a>
							</li>

						</ul>
					</div>
				</div>
			</nav>


		</div>
	</header>

	<!--================ End Header Menu Area =================-->

	<!--================Home Banner Area =================-->
	<section class="banner_area ">
		<div class="banner_inner overlay d-flex align-items-center">
			<div class="container">
				<div class="banner_content">
					<div class="page_link">
						<a href="index.html">Home</a>
						<a href="blog.html">Blog</a>
						<a href="single-blog.html">PRASHAR LAKE</a>
					</div>
					<h2>PRASHAR LAKE</h2>
				</div>
			</div>
		</div>
	</section>
	<!--================End Home Banner Area =================-->

    <!--================Blog Area =================-->
    <section class="blog_area single-post-area section_gap">
        <div class="container">
            <a class="btn-block" href="{% url "trek:book" %}"></a>
            <div class="row">
                <div class="col-lg-8 posts-list">
                    <div class="single-post row">
                        <div class="col-lg-12">
                            <div class="feature-img">
                                <img class="img-fluid" src="{%  static "trek/img/blog/cc1.png" %}" alt="">
                            </div>
                        </div>

                        <div class="col-lg-9 col-md-9 blog_details">
                            <h2>PRASHAR LAKE-THE EPITOME OF BEAUTY</h2>
                            <p class="excert">
                               Considered amongst the best treks within the country, the Kedarkantha trek have risen into the most loved expedition where one finds fun and jaw-dropping views all the way through. Just covering 23kms ,it is seemed as the easiest snow peak summit and a starter trek for the wayfarers who desire to go for mega-expeditions in the times to come. For all the snow lovers, this is a perfect trek to enjoy and capture within hearts and cameras, the snow caped statuesque beauty of the nature. Sankri and Kotgaon, the base camps for this summit, are perfect hosts to give the trekkers and visitors a real touch and taste of the local folk culture.
                            </p>


                        </div>
                        <div class="col-lg-12">
                            <div class="quotes">
                                THE BEAUTY OF KEDARKANTHA AS WELL AS THE PATH THAT LEADS TO THIS MESMERISING PLACE WILL DEFINITELY AMAZE YOU
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <img class="img-fluid" src="{% static "trek/img/blog/aa1.png" %}" alt="">
                                </div>
                                <div class="col-6">
                                    <img class="img-fluid" src="{%  static  "trek/img/blog/b11.png" %}" alt="">
                                </div>
                                <div class="col-lg-12 mt-25">
                                    <p>
                                        SHORT ITINERARY of KEDARKANTHA TREK
                                    </p>
                                    <p>
                                       <B> Day 1: Arrive at Kotgaon and & Acclimatize.</B>
                                    </p>
                                    <p>
                                             :&NonBreakingSpace;&NonBreakingSpace;&NonBreakingSpace;&NonBreakingSpace;&NonBreakingSpace;&NonBreakingSpace;&NonBreakingSpace;&NonBreakingSpace;10 hrs drive from Dehradun
                                    </p>
                                    <p>
                                             <p>
                                             :&NonBreakingSpace;&NonBreakingSpace;&NonBreakingSpace;&NonBreakingSpace;&NonBreakingSpace;&NonBreakingSpace;&NonBreakingSpace; CLIFFCAT shops available for hiring and buying trekking gears .
                                    </p>
                                            <p>
                                                <B>Day 2: Kotgaon to Juda ka Talab(6 hrs trek)</B>
                                    </p>
                                           <p>
                                               <B> Day 3: Juda ka Talab to KEDARKANTHA PEAK  and  back to Juda ka Talab(4 hrs trek up ,Expert brief ,exploring and  2hrs trek down)</B>

                                    </p>
                                     <p>
                                         <b> Day 4:  Juda ka Talab to Kotgaon.(4 hrs trek)</b>
                                    </p>
                                     <p>
                                         <B> Day 5: Departure from Kotgaon.</B>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="navigation-area">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">

                                <div class="arrow">
                                    <a href="#"><span class="lnr text-white lnr-arrow-left"></span></a>
                                </div>

                            </div>
                            <div class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">

                                </div>
                                <div class="arrow">
                                    <a href="#"><span class="lnr text-white lnr-arrow-right"></span></a>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="comments-area">
                        <h4>REVIEWS</h4>
                        <div class="comment-list">
                            <div class="single-comment justify-content-between d-flex">
                                <div class="user justify-content-between d-flex">

                                    <div class="desc">
                                        <h5><a href="#">Ram Vilas</a></h5>
                                        <p class="date">December 4, 2017 at 3:12 pm </p>
                                        <p class="comment">
                                            heaven on Earth
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="comment-list left-padding">
                            <div class="single-comment justify-content-between d-flex">
                                <div class="user justify-content-between d-flex">

                                    <div class="desc">
                                        <h5><a href="#">Vaibhav bisht</a></h5>
                                        <p class="date">December 4, 2017 at 3:12 pm </p>
                                        <p class="comment">
                                            Nice place and good service.
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="comment-list left-padding">
                            <div class="single-comment justify-content-between d-flex">
                                <div class="user justify-content-between d-flex">

                                    <div class="desc">
                                        <h5><a href="#">pramod Bijlwan</a></h5>
                                        <p class="date">December 4, 2017 at 3:12 pm </p>
                                        <p class="comment">
                                            Value For money.
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="comment-list">
                            <div class="single-comment justify-content-between d-flex">
                                <div class="user justify-content-between d-flex">

                                    <div class="desc">
                                        <h5><a href="#">anonymous</a></h5>
                                        <p class="date">December 4, 2017 at 3:12 pm </p>
                                        <p class="comment">
                                            Enjoyed very much
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="comment-list">
                            <div class="single-comment justify-content-between d-flex">
                                <div class="user justify-content-between d-flex">

                                    <div class="desc">
                                        <h5><a href="#">jay adi</a></h5>
                                        <p class="date">December 4, 2017 at 3:12 pm </p>
                                        <p class="comment">
                                            Switzerland of india
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4">
                    <div class="blog_right_sidebar">

                        <aside class="single_sidebar_widget author_widget">
                            <img class="author_img rounded-circle" src="{% static "trek/img/blog/asas.png" %}" alt="">
                            <h4>Puneet Aggarwal</h4>
                            <p>Student</p>
                            <div class="social_icon">

                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                            <p>Liked everything in uttarakhand and the services provided were world class</p>
                            <div class="br"></div>
                        </aside>


                    </div>
                </div>
            </div>


    </section>
    <!--================Blog Area =================-->


    <!--================  start footer Area =================-->
    <footer class="footer-area">
        <div class="footer_top section_gap_top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h5 class="footer_title">About Lawful</h5>
                            <p class="about-text">The world has become so fast paced that people don’t want to stand by
                                reading a page of information, they would much rather look at a presentation and
                                understand the message. It has come to a point where images and videos are used more to
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h5 class="footer_title">Navigation Links</h5>
                            <div class="row">
                                <div class="col-5">
                                    <ul class="list">
                                        <li><a href="#">Home</a></li>
                                        <li><a href="#">Features</a></li>
                                        <li><a href="#">Services</a></li>
                                        <li><a href="#">Portfolio</a></li>
                                    </ul>
                                </div>
                                <div class="col-5">
                                    <ul class="list">
                                        <li><a href="#">Team</a></li>
                                        <li><a href="#">Pricing</a></li>
                                        <li><a href="#">Blog</a></li>
                                        <li><a href="#">contact</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3  col-md-6 col-sm-6">
						<div class="single-footer-widget mail-chimp">
							<h5 class="mb-20">Instragram Feed</h5>
							<ul class="instafeed d-flex flex-wrap">
								<li><img src="{% static "trek/img/i1.jpg" %}" alt=""></li>
								<li><img src="{% static "trek/img/i2.jpg" %}"  alt=""></li>
								<li><img src="{% static "trek/img/i3.jpg" %}"  alt=""></li>
								<li><img src="{% static "trek/img/i4.jpg" %}"  alt=""></li>
								<li><img src="{% static "trek/img/i5.jpg" %}"  alt=""></li>
								<li><img src="{% static "trek/img/i6.jpg" %}"  alt=""></li>
								<li><img src="{% static "trek/img/i7.jpg" %}"  alt=""></li>
								<li><img src="{% static "trek/img/i8.jpg" %}"  alt=""></li>
							</ul>
						</div>
					</div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
</p>
                    </div>
                    <div class="col-lg-6 col-md-12 text-right">
                        <div class="social-icons">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                            <a href="#"><i class="fa fa-behance"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--================ End footer Area =================-->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
 <script src="{% static "trek/js/jquery-3.2.1.min.js" %}"></script>
	<script src="{%  static  "trek/js/popper.js" %}"></script>
	<script src="{%static   "trek/js/bootstrap.min.js" %}"></script>
	<script src="{% static  "trek/js/stellar.js" %}"></script>
	<script src="{% static "trek/js/jquery.magnific-popup.min.js" %}"></script>
	<script src="{% static "trek/vendors/nice-select/js/jquery.nice-select.min.js" %}"></script>
	<script src="{% static "trek/vendors/owl-carousel/owl.carousel.min.js" %}"></script>
	<script src="{% static "trek/js/owl-carousel-thumb.min.js" %}"></script>
	<script src="{% static "trek/js/jquery.ajaxchimp.min.js" %}"></script>
	<script src="{% static "trek/js/mail-script.js" %}"></script>
	<!--gmaps Js-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
	<script src="{% static "trek/js/gmaps.min.js" %}"></script>
	<script src="{%  static "trek/js/theme.js" %}"></script>
</body>

</html>